.footer {
  background-color: #f0f2f5;
  padding: 16px 50px;
  text-align: center;
}

.footer .ant-row {
  display: flex;
  align-items: center;
}

.footer .ant-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-links {
  display: flex;
  justify-content: center;
}

.right-align {
  justify-content: flex-end !important;
}

@media (max-width: 575px) {
  .footer {
    padding: 16px;
  }

  .footer .ant-row {
    flex-direction: column;
    gap: 16px;
  }

  .right-align {
    justify-content: center !important;
  }
}
